@model IEnumerable<Mvc.Models.Sales>
@using Mvc.Models
 
@{
    ViewBag.Title = "Перечень продаж";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0; 
}
<div><form method="post" action="/Sales/Index">
        <table>
            <tr><td><p>Менеджер: </p></td><td> @Html.DropDownList("manager", ViewBag.Managers as SelectList)</td>
            <td><p>Клиент : </p></td><td> @Html.DropDownList("client",ViewBag.Clients as SelectList)</td>
            <td><p>Товар : </p></td><td> @Html.DropDownList("_goods",ViewBag.Goods as SelectList)</td>
            <td><input type="submit" value="Фильтр" /> </td></tr>
        </table>
    </form></div>
 
<h2>Перечень продаж</h2>
@*<p>Всего: @(Model.Count<Sales>())</p>*@
<table>
 <tr>
        <td><b>№ п.п.</b></td>
        <td>
            @Html.DisplayNameFor(model => model.Date)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Cost)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.ClientId)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.ManagerId)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.GoodsId)
        </td>
    </tr>
@foreach (var item in Model) {
    i++;
    <tr>
        <td><b>@i</b></td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Goods.Name)
        </td>
        <td><div><a class="openDialog" data-dialog-id="infoDialog" data-dialog-title="Общие сведения"
               href="Sales/Details/@item.Id">
               <img src="../../Content/picture/info.png" class="tdImage" title="Общие сведения" />
         </a></div></td> 
        @if (HttpContext.Current.User.IsInRole("admin"))
         {
        <td>
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
        }
        
    </tr>
    
}
 
</table>
 @Styles.Render("~/Content/themes/base/css")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}